services:

  serverwatch-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: serverwatch-app
    restart: always
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://serverwatch-db:5432/${DATABASE_NAME}
      - SPRING_DATASOURCE_USERNAME=${DATABASE_USER}
      - SPRING_DATASOURCE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_HOST=localhost
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_NAME=${DATABASE_NAME}
      - KEYCLOAK_AUTH_SERVER_URL=${KEYCLOAK_AUTH_SERVER_URL}
      - KEYCLOAK_REALM=${KEYCLOAK_REALM}
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
      - KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET}
      - APP_BASE_URL=${APP_BASE_URL}
      - SERVER_PORT=${SERVER_PORT}
      - JWT_ACCESS_TOKEN_VALIDITY=${JWT_ACCESS_TOKEN_VALIDITY}
      - JWT_REFRESH_TOKEN_VALIDITY=${JWT_REFRESH_TOKEN_VALIDITY}
      - SESSION_TIMEOUT=${SESSION_TIMEOUT}
      - LOGGING_LEVEL_SECURITY=${LOGGING_LEVEL_SECURITY}
      - LOGGING_LEVEL_KEYCLOAK=${LOGGING_LEVEL_KEYCLOAK}
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
# Habilitar logs de debug para OAuth2
      - DEBUG_OAUTH2=${DEBUG_OAUTH2}
# Habilitar SSL (para produção)
      - ENABLE_SSL=${ENABLE_SSL}      
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
      - MAIL_FROM_NAME=${MAIL_FROM_NAME}
      - MAIL_SMTP_AUTH=${MAIL_SMTP_AUTH}
      - MAIL_SMTP_STARTTLS_ENABLE=${MAIL_SMTP_STARTTLS_ENABLE}
      - MAIL_DEBUG=${MAIL_DEBUG}
      - TZ=${TZ}
    
    
    depends_on:
      serverwatch-db:
        condition: service_healthy
        
   
  serverwatch-db:
    image: postgres:17
    container_name: serverwatch-db
    environment:
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_INITDB_ARGS=--data-checksums
      - TZ=${TZ}
   
    volumes:
      - db_data:/var/lib/postgresql/data
   
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${DATABASE_NAME} -U ${DATABASE_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  serverwatch-flyway:
    build:
      context: .
      dockerfile: Dockerfile.flyway
    restart: "no"
    environment:
      - FLYWAY_URL=jdbc:postgresql://serverwatch-db:5432/${DATABASE_NAME}
      - FLYWAY_USER=${DATABASE_USER}
      - FLYWAY_PASSWORD=${DATABASE_PASSWORD}
      - TZ=${TZ}
      
    depends_on:
      serverwatch-db:
        condition: service_healthy
   
    volumes:
      - ./src/main/resources/db/migration:/flyway/sql  
    entrypoint: ["flyway", "migrate"]

volumes:
  db_data:
