<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Footer Fragment -->


<div th:fragment="toast (message, className, elemId)" th:id="${elemId}" class="toast align-items-center border-0" th:classAppend="${className}" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body" th:text="${message}">
      
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

</html>